.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: rgba(32, 32, 32, 1);
}

.page__container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 1);
  color: #fff;
}

@media (max-width: 900px) {
  .page__container {
    margin: 0;
  }
}

.title {
  margin: 0 70px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  max-width: 1140px;
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media (max-width: 768px) {
  .title {
      margin: 0 50px;
      margin-bottom: 70px;
      max-width: 668px;
  }
}

@media (max-width: 560px) {
  .title {
      margin: 0 18px;
      margin-bottom: 60px;
      padding-bottom: 28px;
      max-width: 668px;
      font-size: 18px;
      letter-spacing: -0.72px;
  }
}

@media (max-width: 560px) {
  .title-border {
      border-bottom: 1px solid #000;
  }
}